#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  height: 80px;
  left: 0;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}

#nav-bar .button{
  background-color: #e8fdff;
  border: solid black 2px;
  border-radius: 5px;
  color: #00a087;
  float: right;
  font-size: 120%;
  line-height: 40px;
  padding: 0 10px;
}

#nav-bar .button:hover{
  background-color: white;
  color: black;
}

#nav-bar .header {
  float: left;
  font-size: 200%;
  line-height: 80px;
  padding: 0 10px;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}