.new-tweet{
  background-color: #eee;
  border: solid rgba(0,0,0, 0.2) 1px;
  border-radius: 10px;
  margin: 0 2em;
  padding: 10px;
  display: none;
}

.new-tweet textarea{
  padding: 5px;
  width: 100%;
}

.new-tweet h2{
  margin: 10px 0;
  border-bottom: solid 1px;
}

.new-tweet .counter{
  float: right;
  padding: 0 5px;
}

.new-tweet .char-exceeded{
  color: red;
}

.new-tweet .flash-message{
  color: red;
  margin-left: 10px;
}